Adeodato Simó <dato@fi.uba.ar> <dato@net.com.org.es>
Martín Buchwald <mbuchwald@fi.uba.ar> <martin.buchwald@mulesoft.com>
Federico Barrios <fbarrios@fi.uba.ar> <fbarrios@live.com.ar>
Federico del Mazo <fdelmazo@fi.uba.ar> <federicodelmazo@hotmail.com>

# Adicionales por dirección.
<dato@fi.uba.ar> <dato@users.noreply.github.com>
<dato@fi.uba.ar> <73768+dato@users.noreply.github.com>
